/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

body {
  background-color: rgb(191, 222, 247);
}



.liked {
  width: 250px;
}

.notLiked {
  width: 150px;
}

.characterWrapper {
  margin-top: 20px;

}

.characterContainer {
  display: flex;
  gap: 25px;
  margin: 0 auto;
  background-color: rgb(84, 187, 247);
  padding: 20px;
  width: 75%;
  border-radius: 7px;
}



.searchContainer {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(248, 244, 180);
  border-radius: 7px;
}

.searchContainer input {
  width: 200px;
  height: 25px;
  border-radius: 7px;
}

.searchContainer select {
  width: 100px;
  height: 25px;
  border-radius: 7px;
}

.form {
  width: 50%;
  height: max-content;
  background-color: rgb(248, 244, 180);
  border-radius: 7px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  place-items: center;
}

.form input, .form button {
  width: 200px;
  height: 20px;
  padding: 0;
  border-radius: 5px;
  border-width: 1px;
}

.form button {
  padding: 5px 0;
  height: auto;
}

/* .form p {
  margin: 0;
  padding: 5px 0 5px;
} */

h1 {
  text-align: center;
}

.characterContainer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  word-wrap: break-word;

}

button {
  width: 150px;
  border-width: 1px;
  border-radius: 7px;
  padding: 5px 0 5px;
}




